<div class="container">
  <h1 class="text-center mt-4 mb-3 swedish-color">Carpsjön</h1>
  <h3 class="text-center mt-3">{{'StartPage.Welcome' | translate}}</h3>
  <h5 class="text-center">{{'StartPage.WelcomeText' | translate}}</h5>
  <p class="text-center">{{'StartPage.WelcomeHeader' | translate}}</p>
  <div class="video-container mt-4 mb-4">
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
            src="https://www.youtube.com/embed/rtg1ZuijzXM" title="YouTube video player"></iframe>
  </div>
  <h4 class="custom-font">{{'StartPage.Adventure.Title' | translate}}</h4>
  <p>{{'StartPage.Adventure.Description' | translate}}</p>
  <h4 class="custom-font">{{'StartPage.FishingPerfection.Title' | translate}}</h4>
  <p>{{'StartPage.FishingPerfection.Description' | translate}}</p>
  <h4 class="custom-font">{{'StartPage.AboutLake.Title' | translate}}</h4>
  <p>{{'StartPage.AboutLake.Description' | translate}}</p>
  <h4 class="custom-font">{{'StartPage.Service.Title' | translate}}</h4>
  <p>{{'StartPage.Service.Description' | translate}}</p>
  <h4 class="custom-font">{{'StartPage.Discover.Title' | translate}}</h4>
  <p>{{'StartPage.Discover.Description' | translate}}</p>
  <h6 class="text-center mt-4">{{'StartPage.Book.Text' | translate}}</h6>
  <div class="d-grid gap-2 col-6 mx-auto mt-4">
    <button (click)="onBook()" class="btn btn-warning" type="button">{{'StartPage.Book.Button' | translate}}</button>
  </div>
</div>
