@font-face {
  font-family: Nordic;
  src: url('assets/fonts/Norse-KaWl.otf') format('opentype');
}

@font-face {
  font-family: NordicBold;
  src: url('assets/fonts/NorseBold-2Kge.otf') format('opentype');
}
