<div class="container">
  <h1 class="custom-font">{{'Privacy.Title' | translate}}</h1>
  <h4>{{'Privacy.General.Title' | translate}}</h4>
  <p>{{'Privacy.General.Text1' | translate}}</p>
  <p>{{'Privacy.General.Text2' | translate}}</p>
  <p>{{'Privacy.General.Text3' | translate}}</p>
  <p>{{'Privacy.General.Text4' | translate}}</p>
  <h4>{{'Privacy.ProcessingData.Title' | translate}}</h4>
  <p>{{'Privacy.ProcessingData.Text1' | translate}}</p>
  <p>{{'Privacy.ProcessingData.Text2'| translate}}</p>
  <p>{{'Privacy.ProcessingData.Text3' | translate}}</p>
  <h4>{{'Privacy.Ssl.Title' | translate}}</h4>
  <p>{{'Privacy.Ssl.Text1' | translate}}</p>
  <p>{{'Privacy.Ssl.Text2' | translate}}</p>
  <h4>{{'Privacy.ServerLog.Title' | translate}}</h4>
  <p>{{'Privacy.ServerLog.Text1' | translate}}</p>
  <p>{{'Privacy.ServerLog.Text2' | translate}}</p>
  <h4>{{'Privacy.ThirdParty.Title' | translate}}</h4>
  <p>{{'Privacy.ThirdParty.Text1' | translate}}</p>
  <p>{{'Privacy.ThirdParty.Text2' | translate}}</p>
  <p>{{'Privacy.ThirdParty.Text3' | translate}}</p>
  <p>{{'Privacy.ThirdParty.Text4' | translate}}</p>
  <h4>{{'Privacy.Contact.Title'| translate}}</h4>
  <p>{{'Privacy.Contact.Text' | translate}}</p>
  <h4>{{'Privacy.Rights.Title' | translate}}</h4>
  <h6>{{'Privacy.Rights.Title1' | translate}}</h6>
  <p>{{'Privacy.Rights.Text1' | translate}}</p>
  <h6>{{'Privacy.Rights.Title2' | translate}}</h6>
  <p>{{'Privacy.Rights.Text2' | translate}}</p>
  <h6>{{'Privacy.Rights.Title3' | translate}}</h6>
  <p>{{'Privacy.Rights.Text3' | translate}}</p>
  <h6>{{'Privacy.Rights.Title4' | translate}}</h6>
  <p>{{'Privacy.Rights.Text4' | translate}}</p>
  <h6>{{'Privacy.Rights.Title5' | translate}}</h6>
  <p>{{'Privacy.Rights.Text5' | translate}}</p>
  <h6>{{'Privacy.Rights.Title6' | translate}}</h6>
  <p>{{'Privacy.Rights.Text6' | translate}}</p>
  <h4>{{'Privacy.GoogleMaps.Title' | translate}}</h4>
  <p>{{'Privacy.GoogleMaps.Text' | translate}}</p>
  <h4>{{'Privacy.Instagram.Title' | translate}}</h4>
  <p>{{'Privacy.Instagram.Text' | translate}}</p>
  <h4>{{'Privacy.YouTube.Title' | translate}}</h4>
  <p class="mb-5">{{'Privacy.YouTube.Text' | translate}}</p>
</div>
