<div class="container">
  <h1 class="custom-font">{{'Arrival.Title' | translate}}</h1>
  <p>{{'Arrival.Introduction' | translate}}</p>
  <h4 class="mt-4">{{'Arrival.Possibility1.Title' | translate}}</h4>
  <p>{{'Arrival.Possibility1.Description' | translate}}</p>
  <ul>
    <li>
      <span class="list-title">{{'Arrival.Possibility1.List.Subtitle1' | translate}}</span>
      {{'Arrival.Possibility1.List.Description1' | translate}}
    </li>
    <li>
      <span class="list-title">{{'Arrival.Possibility1.List.Subtitle2' | translate}}</span>
      {{'Arrival.Possibility1.List.Description2' | translate}}
    </li>
  </ul>
  <h4 class="mt-4">{{'Arrival.Possibility2.Title' | translate}}</h4>
  <p>{{'Arrival.Possibility2.Description' | translate}}</p>
  <h4 class="mt-4">{{'Arrival.Possibility3.Title' | translate}}</h4>
  <p>{{'Arrival.Possibility3.Description' | translate}}</p>
  <h4 class="mt-4">{{'Arrival.Possibility4.Title' | translate}}</h4>
  <p>{{'Arrival.Possibility4.Description' | translate}}</p>
  <hr class="mt-5">
  <p class="text-center">{{'Arrival.ClosingWords' | translate}}</p>
  <hr>
  <div class="map-container mb-5">
    <iframe
      allowfullscreen
      loading="lazy" referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8947.5850921187!2d6.431939099725228!3d47.79239768302035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479256c5b1821b6f%3A0x3d5cbc19f0cbb50b!2s12%20Rte%20d&#39;Auroy%2C%2070300%20Esboz-Brest%2C%20Frankreich!5e1!3m2!1sde!2sch!4v1693053718094!5m2!1sde!2sch"></iframe>
  </div>
</div>
