<div class="container">
  <h1 class="custom-font">{{'Imprint.Title' | translate}}</h1>
  <h4>{{'Imprint.Address' | translate}}</h4>
  <div class="address">
    <div>Carpsjön</div>
    <div>John Doe</div>
    <div>Musterstrasse 123</div>
    <div>0000 Muster</div>
    <div></div>
    <div>info@xxxx.xx</div>
  </div>
  <hr>
  <h4>{{'Imprint.Disclaimer.Title' | translate}}</h4>
  <p>{{'Imprint.Disclaimer.Text' | translate}}</p>
  <hr>
  <h4>{{'Imprint.LinkLiability.Title' | translate}}</h4>
  <p>{{'Imprint.LinkLiability.Text' | translate}}</p>
  <hr>
  <h4>{{'Imprint.Copyrights.Title' | translate}}</h4>
  <p>{{'Imprint.Copyrights.Text' | translate}}</p>
</div>
